* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  background-color: #1c1d26;
  padding: 15px;
}

header {
  top: 0;
  z-index: 1;
  width: 100%;
  background: #1c1d26;
  position: fixed;
}
header > div {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}

header > div > img {
  height: 75%;
}

header > div > nav > ul {
  display: flex;
}

header > div > nav > ul > li > a {
  color: white;
  padding: 15px;
}

header > div > nav > ul > li > a:hover {
  border-bottom: solid 3px red;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section{
  max-width: 1250px;
}

#perfil {
  margin: auto;
  margin-top: 75px;
  margin-bottom: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: #f8f8ff;
  border-radius: 15px;
  padding: 10px;
}

#perfil > div {
  width: 50%;
  height: 100%;
}

#contatos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contatos > img{
  width: 350px;
  border-radius: 100%;
}

#contatos > a {
  border: solid 1px red;
  color: red;
  border-radius: 15px;
  background: transparent;
  padding: 20px 35px;
  margin: 10px;
  text-align: center;
  display: block;
  transition: 0.5s;

}

#contatos > a:hover {
  transition: 0.5s;
  padding: 20px 45px;
  cursor: pointer;
  background-color: red;
  color: white;
}

#perfil div > div > button > a {
  font-size: 15px;
  color: red;
  padding: 15px;
}

#social-media {
  font-size: 35px;
  text-align: center;
}

#social-media a > i {
  padding: 15px;
}

#social-media a > i:hover {
  color: red;
}

#texto-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#texto-perfil h2 {
  margin-bottom: 15px;
  color: red;
}

#texto-perfil > h1 {
  font-size: 40px;
}

#texto-perfil > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#second-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  justify-content: center;
}

#second-grid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8ff;
  border-radius: 15px;
  padding: 22px;
  width: 100%;
  height: 350px;
}

#second-grid > div > i {
  font-size: 55px;
  margin: 10px;
}

#second-grid > div > h3 {
  color: red;
  margin: 5px;
}

#second-grid > div > p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1080px) {

  #contatos > img{
    width: 250px;
  }
  
  #contatos > a {
    padding: 15px 35px;  
  }
  #second-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  #second-grid > div {
    height: 250px;
  }

  
}

@media (max-width: 768px) {

  #perfil{
    flex-direction: column;
    text-align: center;
    padding: 50px 0px;
  }

  #perfil > div{
    width: 100%;
  }

  #texto-perfil{
    max-width: 500px;
  }

  #texto-perfil h2{
    font-size: 20px;
    margin: 10px 0px 0px !important;
  }
  
  #second-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
  }

  #second-grid > div {
    height: auto;
    padding: 10;
  }
}

@media (max-width: 651px) {
  
  
  #perfil img{
    width: 100%;
  }

  #perfil a{
    padding: 10px 0px;
    width: 100%;
    border-radius: 10px;
  }

  #perfil i{
    font-size: 25px;
  }

  #contatos{
    max-width: 200px;
  }

  #second-grid {
    grid-template-columns: 1fr;
  }
}
