* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  background-color: #1c1d26;
}
header > div {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}

header > div > img {
  height: 75%;
}

header > div > nav > ul {
  display: flex;
}

header > div > nav > ul > li > a {
  color: white;
  padding: 15px;
}

header > div > nav > ul > li > a:hover {
  border-bottom: solid 3px red;
}

#first-grid {
  margin: 25px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1000px;
  grid-template-rows: 550px;
  grid-gap: 30px;
}

#first-grid > div {
  background-color: #f8f8ff;
  border-radius: 15px;
}

#perfil {
  grid-column: 1/5;
  display: flex;
}

#perfil > div {
  padding: 10px;
  width: 50%;
  height: 100%;
}

#perfil > div > div > img {
  display: block;
  margin: auto;
  width: 350px;
  border-radius: 100%;
}

#perfil > div > div > button {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid 1px red;
  color: red;
  background-color: #f8f8ff;
  padding: 15px;
  border-radius: 15px;
  width: 200px;
}

#perfil div > div > button > a {
  font-size: 15px;
  color: red;
  background-color: none;
}

#contatos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#social-media {
  font-size: 35px;
  text-align: center;
}

#social-media a > i {
  padding: 15px;
}

#texto-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#texto-perfil > h2 {
  margin-bottom: 15px;
  color: red;
}

#texto-perfil > h1 {
  font-size: 40px;
}

#texto-perfil > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#second-grid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 350px;
  grid-gap: 15px;
  justify-content: center;
}

#second-grid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8ff;
  border-radius: 15px;
  padding: 22px;
  width: 100%;
  height: 100%;
}

#second-grid > div > i {
  font-size: 55px;
  margin: 10px;
}

#second-grid > div > h3 {
  color: red;
  margin: 5px;
}

#second-grid > div > p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
