* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #1c1d26;
}

header {
  z-index: 1;
  position: fixed;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
  color: white;
  width: 100%;
  background-color: #1c1d26;
}

#navbar {
  list-style: none;
  display: flex;
}

#nav-mobile {
  font-size: 35px;
  color: white;
  display: none;
}

#navbar li a {
  color: white;
  text-decoration: none;
  padding: 15px;
}
#navbar li a:hover {
  border-bottom: 3px solid red;
}

#logo img {
  height: 45px;
}

#first-section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.white-background {
  height: 75%;
  width: 75%;
  background-color: #f8f8ff;
  position: absolute;
  padding: 25px;
  padding-left: 3%;
  padding-right: 3%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.white-background img {
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.white-background h1 {
  font-size: max(30px, 3vw);
}

.white-background h2 {
  color: red;
  font-size: max(15px, 1.5vw);
  margin-bottom: 20px;
}

.white-background p {
  font-size: max(18px, 1vw);
  margin-top: 5px;
}

#perfil {
  display: grid;
  justify-items: center;
  grid-template-rows: auto;
}

#perfil img {
  height: 350px;
  width: 350px;
}

#btn {
  margin-top: 15px;
  color: red;
  padding: 15px;
  width: 200px;
  border: 1px solid red;
  border-radius: 15px;
  left: 50%;
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
  transition: 0.5s;
}

#btn:hover {
  background-color: red;
  color: white;
  transition: 0.5s;
  width: 215px;
  padding: 20px;
}

#container-social-media {
  display: flex;
  margin: 10px;
}
  .svg-hover{
    font-size: max(2.5vw, 25px);
    padding: 15px;
    color: black;
  }

  .svg-hover:hover{
    color: red;
  }

@media only screen and (max-width: 1350px) {
  #first-section {
    top: 60px;
  }

  .white-background {
    height: auto;
    width: 75%;
    background-color: #f8f8ff;
    position: absolute;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    display: inline;
    align-items: center;
    border-radius: 15px;
  }

  .white-background {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  #perfil img {
    width: 250px;
    height: 250px;
  }
}


@media  only screen and (max-width: 450px) {
    #perfil img {
      width: 175px;
      height: 175px;
    }

    #nav-mobile {
      font-size: 35px;
      color: white;
      display: inline;
    }


    #navbar li a { 
      display: none;
    }
   
#btn {
  font-size: 12px;
  padding: 15px;
  width: 150px;
}
  }

@media only screen and (max-width:425px){

 

  #perfil{
    width: 100%;
  }

  #perfil img{
    width: 125px;
    height: 125px;
  }

  .svg-hover{
    padding: 10px;
  }

}
